{% extends "base.html" %} {% block content %}
<div class="centeralpart">
    <ul>
        <li>
            <div class="textualpart">
                <p class="heading">Sentiment Analysis using Audio</p>
                <p class="description"></p>
                <br>
                <div class="emotion emoji">
                    <ul>
                        <li class="happy">&#128512;</li>
                        <li class="happy">&#x1F61D;</li>
                        <li class="happy">&#x1F62A;</li>
                        <li class="happy">&#x1F621;</li>
                    </ul>
                </div>
                <br>
                <br>
                <br>
            </div>
        </li>
        <!-- <li>
            <div class="logopart">
                <p><i class="fab fa-twitter"></i></p>
            </div>
        </li> -->
    </ul>
</div>

{% endblock %}