<html>
  <head>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='static/css/base.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body>
  <nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#" id="home">HOME</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="#" id="sentiment">Sentiment Analysis</a></li>
                <li><a href="#" id ="emotion">Emotion Analysis</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i id="1bar"></i>
            <i id="2bar"></i>
            <i id="3bar"></i>
        </span>
    </div>
</nav>


<section class="home">
  <div class="centeralpart">
    <ul>
      <li>
        <div class="textualpart">
          <p class="heading">Sentiment Analysis</p>
          <p class="description">Categorize tweet under Positive, Neutral or Negative</p>
          <br>
          <div class="emoji">
            <ul>
              <li class="happy"><i class="fas fa-smile" aria-hidden="true"></i></li>
              <li class="neutral"><i class="fas fa-meh" aria-hidden="true"></i></li>
              <li class="sad"><i class="fas fa-frown" aria-hidden="true"></i></li>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <input type="text" id="ip2"/>
        </div>
      </li>
      <li><div class="logopart">
        <p><i class="fab fa-twitter"></i></p>
      </div>
    </li>
  </ul>
  </div>

  
<!-- <p><i class="fa fa-twitter" aria-hidden="true"></i></p> -->
</section>




<div class="page2" style="height: 1000px">
    <!-- just to make scrolling effect possible -->
  <h2 class="myH2">What is this ?</h2>
  <p class="myP">This is a responsive fixed navbar animated on scroll</p>
  <p class="myP">I HOPE YOU FIND THIS USEFULL</p>
  <p class="myP">Albi</p>
    <p class="myP">
    
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
  </p>
</div>



    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script start src="static/js/base.js"></script>

    

</body>

</html>