{% extends "base.html" %} {% block content %}
<div class="centeralpart">
    <ul>
        <li>
            <div class="textualpart">
                <p class="heading">Emotions Analysis</p>
                <p class="description">Categorize tweet under Positive, Neutral or Negative </p>
                <div class="emoji">
                    <p id="predictedSentiment"><b></b></p>
                    <ul>
                        <li class="happy">&#128512;</li>
                        <li class="happy">&#x1F61D;</li>
                        <li class="happy">&#x1F62A;</li>
                        <li class="happy">&#x1F621;</li>
                    </ul>
                </div>
                <br><br><br>
                <main class="searchbar">
                    <div class="srch_wrpr">
                        <form id="form" action="{{url_for('sentimentCustomTweetPredictor')}}" method="POST" onsubmit="getText(event)" enctype="multipart/form-data">
                        <input type="checkbox" name="" class="checkbox">
                        <div class="srch_sb_cnt">
                            <input type="text" name="text_bar" id="sech_txt_inpt" class="sech_txt_inpt" placeholder="Type to search..." />
                            <button class="srch_btn" type="submit" value="Upload" class="uploadButton">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                        </form>
                    </div>
                </main>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block rulesregulations %}

<p>Emotion Page is only for text based sentiment analysis.<br>
More will be updated later on.
</p>
{% endblock %}