{% extends "base.html" %} {% block content %}
<div class="centeralpart">
    <ul>
        <li>
            <div class="textualpart">
                <p class="heading">Sentiment Analysis</p>
                <p class="description">Categorize tweet under Positive, Neutral or Negative</p>
                <br>
                <div class="emoji">
                    <ul>
                        <li class="happy"><i class="fas fa-smile" aria-hidden="true"></i></li>
                        <li class="neutral"><i class="fas fa-meh" aria-hidden="true"></i></li>
                        <li class="sad"><i class="fas fa-frown" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <br>
                <br>
                <br>
                <br>
                <main class="searchbar">
                    <div class="srch_wrpr">
                        <!-- <input type="checkbox" name="" class="checkbox"> -->
                        <div class="srch_sb_cnt">
                            <input type="text" name="text_bar" id="" class="sech_txt_inpt" placeholder="Type to search..." />
                            <button class="srch_btn">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </main>
            </div>
        </li>
        <li>
            <div class="logopart">
                <p><i class="fab fa-twitter"></i></p>
            </div>
        </li>
    </ul>
</div>

{% endblock %}