{% extends "base.html" %} {% block content %}
<div class="centeralpart">
    <ul>
        <li>
            <div class="textualpart">
                <p class="heading" id="heading">Sentiment Analysis</p>
                <div id="table2"></div>
                <p class="description" id="description">Categorize tweet under Positive, Neutral or Negative</p>
                <div class="emoji" id="emoji">
                    <p id="predictedSentiment"><b></b></p>
                    <ul>
                        <li class="happy" id="happy"><i class="fas fa-smile" aria-hidden="true"></i></li>
                        <li class="neutral" id="neutral"><i class="fas fa-meh" aria-hidden="true"></i></li>
                        <li class="sad" id="sad"><i class="fas fa-frown" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <br><br><br>
                <main class="searchbar" id="searchbar">
                    <div class="srch_wrpr">
                        <form id="form" action="{{url_for('sentimentLiveTweetPredictor')}}" method="POST" onsubmit="getUserName(event)" enctype="multipart/form-data">
                        <input type="checkbox" name="" class="checkbox">
                        <div class="srch_sb_cnt">
                            <input type="text" name="text_bar" id="sech_txt_inpt" class="sech_txt_inpt" placeholder="@deepspraj..." />
                            <button class="srch_btn" type="submit" value="Upload" class="uploadButton">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                        </form>
                    </div>
                </main>
            </div>
        </li>
        <li>
            <div class="logopart">
                <p><i class="fab fa-twitter"></i></p>
            </div>
        </li>
    </ul>
</div>

{% endblock %}

{% block rulesregulations %}
<p>Please make sure that sentence contains whitspace.<br>
Else sentences will make webapp irresponsive and algorithm wont be able to detect sentiment correctly.
</p>
{% endblock %}

{% block scripts %}
<script start src="static/js/sentimentlivetweet.js" defer></script>
{% endblock %}
