@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    z-index:1;
    position: absolute;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
}


.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    margin-left: 10vw;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 8vw;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    margin-right: 2vw;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, rgb(113, 0, 44), rgb(21, 4, 14));
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        color: #000000;
        display: block;

    }
        .nav div.logo {
        margin-left: 0;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        margin-right: 10vw;
    }
    .nav div.media_button {
        display: block;
    }
    .sentiment{
        color: #ffffff;
    }
}


/* Animation */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: 10vw;
}

.navTrigger i {
    background-color: #ffffff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    position:fixed;
}

/* ################################################ */

.home{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.centeralpart{
    position : relative;
    top: 20%;
    width: 100%;
    display: inline;
    list-style: none;
}


.centeralpart ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0; 
    padding: 0;}

.centeralpart ul li {
    margin: 0;
}

.textualpart {
    float: left;
    color: #ffffff;
    height: 100vh;
    margin-left: 10vw;
}

.heading{
    font-size: 5vh;
}

.description {
    font-size: 3vh;
}

.logopart{
    float: right;
    width: 100%;
    height: 100%;
    color: rgb(29, 161, 242);
}


.logopart i {
    font-size: 30vw;
    text-align: center;
    vertical-align: text-top;
    margin-right: 10vw;
}

.logopart i:hover{
    color: #ffffff;
}



@media screen and (max-width:768px) {

    .centeralpart{
        top: 10%;
    }
    .logopart {
        display: none;
    }
    .heading{
        font-size: 8vh;
    }
    .description {
        font-size: 5vh;
        
    }
}



/* ############################################ */


.emoji ul{
    width: 30vw;
}

.emoji ul li {
    display: inline;
    position: sticky;
}

.happy{
    font-size: 8vw;
    -webkit-text-fill-color: green;}

.neutral{
    font-size: 8vw;
    -webkit-text-fill-color: gray;
}

.sad{
    font-size: 8vw;
    -webkit-text-fill-color: red;
}

.happy:hover{
    filter: drop-shadow(0 0 0.75rem white);

}

.neutral:hover{
    filter: drop-shadow(0 0 0.75rem white);

}


.sad:hover{
    filter: drop-shadow(0 0 0.75rem white);
}


/* ############################################# */



#ip2 {
    border-radius: 25px;
    border: 0.7vh solid rgb(255, 255, 255);
    padding: 2vh; 
    width: 40vw;
    height: 8vh;
    background: transparent;
    caret-color: #ffffff;
}

@media screen and (max-width:768px) {
    #ip2 {
        width : 70vw;
    }
}



/* ################################### */



.page2{
    margin-left: 10vw;
    margin-right: 10vw;
}


.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
        float: left;
	}
}



/* features section */



.grid {
    margin-left: 10vw;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 15vh;
    align-items: stretch;
}

.grid > article {
    border: 1.5px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    text-align: center;

}

.grid > article i {
    font-size: 10vh;
    line-height: 18vh;
    height: 18vh;
    width: 18vh;
    border: 0.1vw solid #007bff;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    color: #007bff;
    margin-top: -10vh;
}


.grid > article i:hover {
    border: 0.1vw solid #ffffff;
    background-color: #007bff;
    color: #ffffff;
}





.grid .text {
    padding: 10px 20px 30px;
}

.grid {
    margin-top: 20px;
}

.header{
    font-size: 5vh;
}


.para {
    font-size: 3vh;
}
